/* リセット系 -------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.main-visual {
  display: flex;           
  width: 100%;
  height: 300px;
}

.mv-left {
  flex: 0 0 40%;
  padding: 30px;
  background-image: url(../images/茶色壁紙.jpg);
  background-size: cover;
  background-position: center;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.tel-text {
  display: flex;
  flex-direction: column;
}

/* ロゴ画像 */
.mv-logo {
  width: 80px;
  margin-bottom: 12px;
}

/* 店名など（好きに調整してOK） */
.mv-shop-name {
  font-size: 20px;
  font-weight: bold;
}

.mv-sub {
  font-size: 16px;
}

.tel-row {
  display: flex;
  align-items: center;
  gap: 30px;
}

.mv-tel {
  font-size: 16px;
}

.mv-tel1{
  font-size: 20px;
  font-weight: bold;
}

/* 右側：内装写真ゾーン */
.mv-right {
  flex: 1;                 /* 残りの幅を全部使う */
  height: 100%;
  overflow: hidden;
}

/* 内装写真を右側いっぱいに表示 */
.mv-naisou {
  width: 100%;
  height: 100%;
  object-fit: cover;       /* はみ出してもいいのでボックスを埋める */
  display: block;
}


ul.ddmenu {
  margin: 0;
  padding: 0 0 0 15px;
  background-color: #7F5539;
  display: flex;                 /* 横並び */
  justify-content: space-around; /* 均等配置 */
}

ul.ddmenu li {
  flex: 1;                       /* 同じ幅に伸ばす */
  list-style-type: none;
  position: relative;
}

ul.ddmenu a {
  background-color: #7F5539;
  color: white;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

ul.ddmenu ul {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

ul.ddmenu a:hover {
  background-color: #DDB892;
  color: black;
}

ul.ddmenu li:hover ul {
  display: block;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 70px 0;
}

.blog {
  width: 600px;
  margin-right: 30px;
  margin-left: 20px;
}

.blog-heading {
  border-bottom: 8px solid #DDB892;
  text-align: center;
  line-height: 0.6;
}

.access-heading{
  border-bottom: 8px solid #DDB892;
  width: 140px;
}


.blog-box {
  padding-top: 50px;
}

.blog-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDB892;
  display: flex;
  justify-content: flex-start;
}

.blog-image {
  width: 300px;
  height: 200px;
  /* 元画像の比率はそのまま維持 */
  object-fit: cover;
}

.blog-text {
  padding: 25px 0 0 30px;
}

.blog-text-heading {
  padding-bottom: 15px;
}

.cost {
  font-size: 20px;
  display: inline-block;
}

.sidebar {
  width: 200px;
  margin-left: 50px;
}
/* ULのリセット */
.menu-vertical-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 各ボックス */
.menu-vertical-list li a {
  display: block;
  padding: 12px 16px;
  margin-bottom: 4px;

  background: #f7f7f7;  /* 灰色っぽい背景 */
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

/* ホバー時 */
.menu-vertical-list li a:hover {
  background: #ececec;
}

.active {
  border-left: 5px solid #DDB892;
}

.map{
  padding: 20px;
}

.map-size{
  width: 100%;
  padding: 15px;
}



footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #7F5539;
}

.footer-text {
  color: #fff;
}

.moji{
  width: 300px;
}

.border{
  border-left: 5px solid #DDB892;
  padding-left: 10px;
}